.MapPath {
  min-height: calc(100dvh - var(--navbar-h));
  background-color: #ebe4de;
  padding: 15px;
  box-sizing: border-box;
}

.MapPathTitle {
  font-size: 26px;
  font-weight: 700;
  color: #352310;
  margin-bottom: 10px;
}

.MapPathSelect {
  font-size: 13px;
  color: #352310;
}

.MapPathList {
  list-style: none;
  padding: 10px 15px;
  margin: 0;
  position: relative;
}

.MapPathItem {
  position: relative;
}

.MapPathItem::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  width: 6px;
  background-color: #c7baad;
}

.MapPathItem:first-child::before {
  top: 25px;
}

.MapPathItem:last-child::before {
  bottom: 35px;
}

.MapPathDot {
  position: absolute;
  left: 8px; /* 중앙으로 맞추기 위함 */
  top: 15px;
  width: 10px;
  height: 10px;
  background: #352310;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #c7baad;
}

.MapPathContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.MapPathName {
  font-size: 16px;
  font-weight: 600;
  color: #352310;
  margin-bottom: 2px;
}

.MapPathInfo {
  font-size: 12px;
  color: #7a6b5e;
}

.MapPathEmpty {
  font-size: 13px;
  color: #7a6b5e;
  padding: 10px 0;
  text-align: center;
}